<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="login.component.css">

</head>

<body>

  <div class="user-auth">
    <label class="labels"><img src="../../assets/logo.png" width="150px" height="150px"></label>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="user-name">
      <label class="labels">Kullanıcı Adı:</label>
      <input type="text" [(ngModel)]="model.nickName" name="nickName" placeholder="stickers">
    </div>
    <div class="user-password">
      <label class="labels">Şifre</label>
      <input type="password"[(ngModel)]="model.password" name="password" placeholder="Ilovesticker">
    </div>
    <div id="click" class="labels">
      <button (click)="login(loginForm)" class="btn" type="submit" >Giriş Yap</button>
    </div>
    <div id="new-registiration" class="labels"><a href="">Hesabın Yok Mu?</a></div>
    </form>
  </div>


<script src="login.component.ts"></script>
</body>

</html>
